.newEmployee {
    flex: 4;
    padding: 20px;
}

.newEmployeeForm {
    display: flex;
    flex-wrap: wrap;
}

.newEmployeeItem {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}

.newEmployeeItem>label {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(151, 150, 150);
}

.newEmployeeItem>input {
    height: 30px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.newEmployeeButton {
    width: 220px;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}