.checkoutManager{
    flex: 4;
    padding-left: 20px;
    padding-top: 5px;
    height: 500px;;
}

.checkoutManagerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkoutAddButton{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.checkoutManagerEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;  

}

.checkoutManagerDelete{
    color: red;
    cursor: pointer;
}

.checkoutManagerTitle {
    font-size: 24px;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}