.review{
    flex: 4;
    padding: 20px;
}

.reviewTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviewContainer {
    display: flex;
    margin-top: 20px;
}

.reviewShow {
    flex: 1;
    padding: 2px;
   
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow:  0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.reviewShowTop {
    display: flex;
    align-items: center;
}
.reviewShowImg {
    width: 40px;
    height: 40px;
    background-repeat: 50%;
    object-fit: cover;
    margin-left: 20px;
    margin-top: 5px;
}

.reviewReviewForm {
    flex: 1.5;
    padding: 2px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow:  0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    margin-left: 20px;
}

.reviewShowTopTitle {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.reviewShowName{
    font-weight: 600;
}

.reviewShowBottom {
    margin-top: 20px;
}

.reviewShowTitle {
    font-style: 14px;
    font-weight: 600;
    color: rgb(175, 170, 170);
}

.reviewShowInfo {
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}

.reviewShowIcon {
    font-style: 16px, !important;
    margin-left: 20px;
}

.reviewInfoTitle {
    margin-left: 10px;
    
}

.reviewUpdateImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}


.reviewUpdateTitle {
    font-size: 24px;
    font-weight: 600;
    margin-left: 20px;
}

.reviewUpdateForms {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.reviewUpdateItem {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 5px;
    align-items: center;
}

.error {
    color: rgb(196, 19, 19);
    margin-bottom:10px ;
  }


/* .reviewReview {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.reviewReviewRating{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.reviewComment{
    border: 1px solid #a9a9a9;
    border-radius: 5;
    padding: 10;
    margin: 20px 0;
    min-height: 100;
    width: 100%;
  
}

.reviewUpdateItem>label{
    margin-bottom: 5px;
    font-size: 15px;
}

.reviewUpdateInput {
    border: none;
    width: 300px;
    height: 30px;
    border-bottom: 1px solid gray;
}

.reviewUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reviewUpdateButton{
    cursor: pointer;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: cornflowerblue;
    font-weight: 500;
    width: 150px;
}
.reviewUpdateIcon{
    cursor: pointer;
    width: 100px;
    height: 100px;
   

    margin-right: 20px;
}