.order{
    flex: 4;
    padding-left: 20px;
    padding-top: 5px;
    height: 500px;
}

.orderTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orderContainer {
    display: flex;
    margin-top: 20px;
}

.orderShow {
    flex: 1;
    padding: 2px;
   
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow:  0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.orderShowTop {
    display: flex;
    align-items: center;
}
.orderShowImg {
    width: 40px;
    height: 40px;
    background-repeat: 50%;
    object-fit: cover;
    margin-left: 20px;
    margin-top: 5px;
}

.orderEdit {
    flex: 1.5;
    padding: 2px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow:  0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    margin-left: 20px;
}

.orderShowTopTitle {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.orderShowName{
    font-weight: 600;
}

.orderShowBottom {
    margin-top: 20px;
}

.orderShowTitle {
    font-style: 14px;
    font-weight: 600;
    color: rgb(175, 170, 170);
}

.orderShowInfo {
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}

.orderShowIcon {
    font-style: 16px, !important;
    margin-left: 20px;
}

.orderInfoTitle {
    margin-left: 10px;
    
}

.orderUpdateImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}


.orderUpdateTitle {
    font-size: 24px;
    font-weight: 600;
    margin-left: 20px;
}

.orderUpdateForms {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    margin-left: 20px;
}

.orderUpdateItem {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.orderUpdateItem>label{
    margin-bottom: 5px;
    font-size: 15px;
}

.orderUpdateInput {
    border: none;
    width: 300px;
    height: 30px;
    border-bottom: 1px solid gray;
}

.orderUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.orderUpdateButton{
    cursor: pointer;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: cornflowerblue;
    font-weight: 500;
    width: 150px;
}
.orderUpdateIcon{
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.orderTitle {
    font-size: 24px;
    font-weight: 600;
    margin-left: 20px;
}