.customerManager{
    flex: 4;
    padding: 20px;
}

.customerManagerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customerAddButton{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.customerManagerEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;  

}

.customerManagerDelete{
    color: red;
    cursor: pointer;
}