
.searchInputs {
    
    display: flex;
  }
  
  .search input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 16px;
    padding: 15px;
    height: 40px;
    width: 300px;
  }
  
  .searchIcon {
    
    background-color: white;
    display: grid;
    place-items: center;
  }
  
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 20px;
  }
  
  .dataResult {
    position: absolute;
    margin-top: 5px;
    width: 300px;
    height: 280px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
  }

  .title{
      background-color: rgb(187, 186, 186);
      font-size: 15px;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  .dataResult .dataItem {
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
  }
  
  .dataItem p {
    margin-left: 10px;
  }
  a {
    text-decoration: none;
  }
  
  a:hover {
    background-color: lightgrey;
  }
  
  #clearBtn {
    cursor: pointer;
  }